* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --color1: #000000;
    --color2: #127EB1;
    --color3: #292C2E;
    --color4: #FFF;
    --color5: #EAE5DF;
    --color6: #00000066;
    --disable: #555555;
    --background: #F2F2F2;
}


header {
    background-image: url("/src/assets/svg/Question3/mobile/footer-header/header-mobile.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 4.688rem;
    width: 100%;
}

footer {
    background-image: url("/src/assets/svg/Question3/mobile/footer-header/footer-mobile.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    width: 100%;
}



.frame10 {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

}

.frame1 {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    width: 20.188rem;
}

.frame1__title {
    align-items: center;
    color: #000000;
    font-family: 'Mont';
    font-size: 1.375rem;
    font-weight: 900;
    line-height: 1.75rem;
    text-align: center;
}

.tittle__mobile {
    display: flex;
}

.tittle__tablet {
    display: none;
}

.tittle__desk {
    display: none;
}

.frame1__text {
    color: #000000;
    font-family: "Gotham Narrow";
    font-size: 0.875rem;
    font-weight: 325;
    letter-spacing: 0;
    line-height: 1.375rem;
    text-align: left;
}

.frame1__text__span {
    font-weight: 700;
}

.frame1__text1 {
    font-family: "Gotham Narrow";
    font-size: 0.875rem;
    font-style: italic;
    font-weight: 325;
    line-height: 1.5rem;
    text-align: left;

}

.answers {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 20.188rem;
}

.row1 {
    display: flex;
    flex-direction: column;
    gap: 1rem;

}

.row2 {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.row1__frame15 {
    align-items: center;
    border: 0.063rem solid #292C2E;
    border-radius: 3.188rem;
    display: flex;
    flex-direction: column;
    height: 4.75rem;
    justify-content: center;
    padding: 1rem;
    width: inherit;
}

.row1__frame15:focus {
    background-color: aqua;
}

.row1__frame15__text {
    color: #000000;
    font-family: 'Mont';
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 800;
    line-height: 1.5rem;
    text-align: center;
    text-transform: uppercase;
}

.row1__frame15__subtext {
    color: #000000;
    font-family: "Gotham Narrow";
    font-size: 0.875rem;
    font-weight: 325;
    line-height: 1rem;
    text-align: center;
}

.frame36 {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 0.75rem;
    justify-content: center;
    margin: 2.5rem auto 1.5rem;
}

.frame36__button {
    padding: 0.5rem 1.5rem;
    width: 9.75rem;

}

.previous {
    background-color: #F1F1F1;
    color: #77787A;
    font-family: 'Gotham Narrow';
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.01em;
    line-height: 1.5rem;
    text-align: center;
    text-transform: capitalize;
    ;

}

.next {
    background-color: #292C2E;
    color: #FFFFFF;
    font-family: 'Gotham Narrow';
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.01em;
    line-height: 1.5rem;
    text-align: center;
    text-transform: capitalize;
}

.bar {
    align-items: flex-start;
    display: flex;
    gap: 1.063rem;
    isolation: isolate;
    margin: 1rem auto 2.5rem;
    width: 20.938rem;
}

.bar__line {
    border: 0.063rem solid var(--color5);
    margin-top: 0.75rem;
    position: absolute;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    width: 20.938rem;
}


.bar__steps {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    padding: 0 0.25rem;
    width: 2.081rem;
    z-index: 1;
}

.bar__steps__frame {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 0.625rem;
    height: 1.5rem;
    justify-content: center;
    padding: 0;
    width: 1.5rem;
}

.step1 {
    align-items: center;
    background: var(--color5);
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    height: 1rem;
    justify-content: center;
    width: 1rem;

}

.success {
    background: var(--color2);

}


.bar__steps__number {
    align-items: center;
    color: var(--color6);
    display: flex;
    font-family: 'Mont';
    font-size: 0.688rem;
    font-style: normal;
    font-weight: 800;
    justify-content: center;
    letter-spacing: 0.031rem;
    line-height: 1rem;
    text-align: center;
}

.color {
    color: var(--color1);
}

.state {
    display: flex;
    justify-content: center;
}

.names__bar {
    display: none;
    text-transform: uppercase;
    width: 5.875rem;
}

.step1__vector {
    background-image: url("/src/assets/svg/Results/mobile/products/Vector\ 1.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 0.375rem;
    width: 0.5rem;

}

.step__focus {
    width: 1.5rem;
    height: 1.5rem;
    background: var(--color3);
}

@media screen and (min-width:768px) {

    .bar {
        margin: 1.5rem auto 5.5rem;
        width: 48.875rem;
        gap: 0.75rem;
    }

    .bar__line {
        margin: 0.75rem 1.625rem;
        width: 43.75rem;
    }

    .bar__steps {
        width: 6.071rem;

    }

    .state {
        display: none;
    }

    .names__bar {
        display: flex;
    }

    .frame10 {
        gap: 2rem;
        margin: 0 1.625rem;
    }

    .frame1 {
        gap: 1rem;
        width: 48.875rem;
        max-width: 100%;
    }

    .frame1__title {
        font-size: 2rem;
        line-height: 2.5rem;
    }

    .tittle__tablet {
        display: flex;
    }

    .tittle__mobile {
        display: none;
    }


    .frame1__text {
        font-size: 1rem;
        line-height: 1.5rem;
        order: 1;
        text-align: center;

    }

    .frame1__text1 {
        font-size: 1rem;
        line-height: 1.5rem;
        order: 2;
    }

    .answers {
        gap: 0.75rem;
        width: inherit;
        max-width: 100%;
    }

    .row1 {
        flex-direction: row;
        gap: 0.75rem;

    }

    .row2 {
        flex-direction: row;
        gap: 0.75rem;

    }

    .row1__frame15 {
        flex-grow: 1;
        gap: 0.25rem;
        width: 15.792rem;
    }

    .frame36 {
        margin: 10rem auto 2.5rem;
    }

    .frame36__button {
        width: 15.813rem
    }

    .header {
        background-image: url("/src/assets/svg/Question3/tablet/footer-header/header-tablet.svg");
    }

    .footer {
        background-image: url("/src/assets/svg/Question3/tablet/footer-header/footer-tablet.svg");
    }

}

@media screen and (min-width:835px) {
    .bar {
        gap: 1.063rem;
    }

    .bar__line {
        width: 48.875rem;
        margin: 0;
        margin-top: 0.75rem;
    }

}


@media screen and (min-width:992px) {
    .bar {
        margin: 1.938rem auto 7rem;
        width: 51.5rem;

    }

    .bar__steps {
        gap: 0.5rem;

        width: 6.5rem;
    }

    .bar__line {
        width: 50.75rem
    }

    .frame10 {
        gap: 2.5rem;
    }

    .frame1 {
        width: 60.813rem
    }

    .answers {
        gap: 1rem;
    }

    .row1 {
        gap: 1rem;
    }

    .row1__frame15 {
        width: 17.896rem;
    }

    .row2 {
        gap: 1rem;
    }

    .frame36 {
        gap: 2.5rem;
        margin: 2rem auto 5.875rem;

    }

    .frame36__button {
        width: 12.063rem;
    }



    .tittle__tablet {
        display: none;
    }

    .tittle__desk {
        display: flex;
    }

    .header {
        background-image: url("/src/assets/svg/Question3/desktop/footer-header/header-desk.svg");
    }

    .footer {
        background-image: url("/src/assets/svg/Question3/desktop/footer-header/footer-desk.svg");
    }

}