* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    /* width: 23.438rem;
    height: 4.375rem; */
    width: 100%;
    height: 75px;
    background-image: url("/src/assets/svg/mobile/header.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

footer {
    width: 100%;
    height: 500px;
    background-image: url("/src/assets/svg/mobile/footer.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.frame10 {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;

}

.frame1 {
    width: 323px;
    gap: 4px;
    flex-direction: column;
    align-items: center;
    display: flex;
}

.frame1__title {
    color: #000000;
    font-family: 'Mont';
    font-size: 22px;
    font-weight: 900;
    line-height: 28px;
    align-items: center;
    text-align: center;
}

.frame1__text {
    font-family: "Gotham Narrow";
    font-size: 14px;
    font-weight: 325;
    line-height: 22px;
    letter-spacing: 0;
    text-align: left;
    color: #000000;
}

.frame1__text__span {
    font-weight: 700;
}

.frame1__text1 {
    font-family: "Gotham Narrow";
    font-size: 14px;
    font-style: italic;
    font-weight: 325;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;

}

.answers {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 323px;
}

.row1 {
    display: flex;
    flex-direction: column;
    gap: 16px;

}

.row2 {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.row1__frame15 {
    display: flex;
    height: 76px;
    padding: 16px;
    border: 1px solid #292C2E;
    border-radius: 52px;
    width: inherit;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.row1__frame15:focus {
    background-color: aqua;
}

.row1__frame15__text {
    font-family: 'Mont';
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    line-height: 24px;
}

.row1__frame15__subtext {
    font-family: "Gotham Narrow";
    font-size: 14px;
    font-weight: 325;
    text-align: center;
    color: #000000;
    line-height: 16px;
}

.frame36 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 12px;
    justify-content: center;
    align-items: center;
}

.frame36__button {
    padding: 8px 24px;
    width: 156px;
   
}

.previous {
    font-family: 'Gotham Narrow';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.01em;
    text-transform: capitalize;
    color: #77787A;
    background-color: #F1F1F1;
    ;

}

.next {
    font-family: 'Gotham Narrow';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.01em;
    text-transform: capitalize;
    color: #FFFFFF;
    background-color: #292C2E;
}

.bar {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 17px;
    isolation: isolate;
}

.bar__line {
    border: 1px solid #EAE5DF;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

.bar__steps {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 4px;
    gap: 4px;
}

.bar__steps__frame {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 10px;
    width: 24px;
    height: 24px;
}

.step1 {

    width: 16px;
    height: 16px;
    background: #EAE5DF;
    border-radius: 50%;

}

.bar__steps__number {
    font-family: 'Mont';
    font-style: normal;
    font-weight: 800;
    font-size: 11px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.5px;
}

@media screen and (min-width:768px) {


    .frame10 {
        gap: 32px;
    }

    .frame1 {
        gap: 16px;
        width: 782px;
    }

    .frame1__title {
        font-size: 32px;
        line-height: 40px;
    }

    .frame1__text {
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        order: 1;

    }

    .frame1__text1 {
        font-size: 16px;
        line-height: 24px;
        order: 2;
    }

    .answers {
        gap: 12px;
        width: inherit;
        top: 176px;
    }

    .row1 {
        flex-direction: row;
        gap: 12px;

    }

    .row2 {
        flex-direction: row;
        gap: 12px;

    }

    .row1__frame15 {
        width: 252.67px;
        gap: 4px;
        flex-grow: 1;
    }

    /* .row1__frame15__text {
       
    } */

    .frame36 {
        /* top: 760px;
        left: 158px; */
    }

    .frame36__button {
        width: 253px
    }

    .header {
        background-image: url("/src/assets/svg/tablet/header\ tablet.svg");
    }

    .footer {
        background-image: url("/src/assets/svg/tablet/image\ 3.svg");
        top: 840px;
    }

    .bar {

        /* left: 26px;
        top: 128px; */
        width: 782px;
    }

    .bar__line {

        width: 782px;
        top: 12px;
    }

    .bar__steps {
        width: 97.14px;
        height: 44px;
    }

}


@media screen and (min-width:992px) {

    .frame10 {
        gap: 40px;
    }

    .frame1 {
        width: 973px
    }

    .answers {
        gap: 16px;
    }

    .row1 {
        gap: 16px;
    }

    .row1__frame15{
        width: 286.33px;
    }

    .row2 {
        gap: 16px;
    }

    .frame36 {
        gap: 40px;
        /* top: 656px;
        left: 507px; */

    }

    .frame36__button {
        width: 193px
    }

    .previous {
        top: 4px;
    }

    .header {
        background-image: url("/src/assets/svg/desktop/header\ desk.svg");
    }

    .footer {
        background-image: url("/src/assets/svg/desktop/footer\ desk.svg");
        /* margin-top: 790px;
        overflow: hidden; */
    }

    .bar {

        /* left: 308px;
        top: 136px; */
    }

    .bar__line {
        width: 748px;
        /* top: 12px; */
    }

    .bar__steps {
        gap: 8px;
        width: 104px;
        height: 48px;
    }
}