* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    /* width: 23.438rem;
    height: 4.375rem; */
    width: 100%;
    height: 75px;
    background-image: url("/src/assets/svg/mobile/header.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.img {
    display: flex;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
    background-image: url("/src/assets/svg/imgs/fondo.svg");
    width: 100%;
    height: 160px;
    /* background: linear-gradient(181.25deg, rgba(0, 0, 0, 0.68) 10.04%, rgba(0, 0, 0, 0) 41.79%);
    background-blend-mode: multiply; */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 100%;

}

.nav {}

.text {
    font-family: 'Mont';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.5px;
    text-transform: capitalize;
    color: #FFFFFF;
    width: 323px;
    /* margin: 0 auto; */
    text-align: center;

}


.text1 {
    max-width: 100%;
    justify-content: center;
    font-family: 'Mont';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.5px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
    margin: 16px 26px 24px;

}

.option1 {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 323px;
    height: 448px;
    margin: 20px auto;
}

.option1__frame36 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    isolation: isolate;
    height: 358px;
}

.option1__frame36__img {
    width: 323px;
    height: 358px;
    width: inherit;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    justify-content: center;
}

.option1__frame36__img__product {
    width: 254.74px;
    height: 282.35px;
    background-image: url("/src/assets/svg/imgs/product-image.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0 auto;
}

.option1__frame36__img2 {
    width: 254.74px;
    height: 282.35px;
    background-image: url("/src/assets/svg/imgs/product-image1.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0 auto;
}

.option1__frame36__img__bg {
    background: #F2F2F2;
    margin: 0 auto;
    width: 323px;
    height: 358px;
}

.option1__frame36__match {
    width: 291px;
    gap: 56px;
    display: flex;
}

.match__great {
    width: 130px;
    font-family: 'Mont';
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.01em;
    text-transform: capitalize;
    color: #000000;
}

.frame37 {
    display: flex;
    align-items: center;
    padding: 0px;
    gap: 8px;
}

.frame37__match {
    width: 85px;
    font-family: 'Gotham Narrow';
    font-style: normal;
    font-weight: 325;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.01em;
    color: #000000;

}

.frame37__button {
    height: 12px;
}

.frame37__button__group {
    height: 6px;
    width: 6px;
}

.frame37__button__elipse {
    height: 12px;
    width: 12px;
    background: #292C2E;
    border-radius: 50%;
}

.line1 {
    background: #FFFFFF;
    width: 6px;
    border: 1px solid #FFFFFF;
    transform: rotate(90deg);
}

.line2 {
    width: 6px;
    border: 1px solid #FFFFFF;
}

.button {
    height: 40px;
    width: 150px;
    border-radius: 0px;
    padding: 8px 24px;
    background: #292C2E;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    margin: 0 auto;
}

.button__text {
    font-family: "Mont";
    font-size: 13px;
    font-weight: 900;
    line-height: 24px;
    letter-spacing: 1px;
    text-align: center;
    text-transform: capitalize;
    color: #FFFFFF;

}


.option1__content {
    gap: 4px;
    width: 323px;
    height: 74px;
}

.top__text1 {
    font-family: 'Mont';
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.01em;
    text-transform: capitalize;
    color: #000000;
}

.top__text2 {
    width: 31px;
    height: 20px;
    font-family: 'Mont';
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 20px;
    /* text-align: right; */
    letter-spacing: 0.01em;
    text-transform: capitalize;
    color: #000000;
}

.text3 {
    font-family: 'Gotham Narrow';
    font-style: normal;
    font-weight: 325;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.01em;
    color: #000000;
}

.frame41 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    width: 323px;
    height: 480px;
    margin: 0 auto;
}

.frame41__img {
    width: 100%;
    height: 240px;
    background-image: url("/src/assets/svg/imgs/Rectangle\ 21.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.frame41__frame40 {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.frame41__frame40__text1 {
    font-family: 'Mont';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: center;
    letter-spacing: 0.5px;
    color: #000000;
}

.frame41__frame40__text2 {
    font-family: 'Gotham Narrow';
    font-style: normal;
    font-weight: 325;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 1px;
    color: #000000;
}

.hikes {
    font-style: italic;
}

.frame29 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 24px 26px;
    gap: 24px;
    height: 632px;
    background: #F2F2F2;
    margin: 24px auto;
}

.frame79 {
    height: 304px;
    width: 323px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.frame79__img {
    height: 235px;
    width: 273px;
    background-image: url("/src/assets/svg/imgs/image\ 2.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0 auto;
}

.frame28 {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.frame38 {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 323px;
    height: 88px;
}

.frame38__text1 {

    font-family: 'Mont';
    font-style: normal;
    font-weight: 900;
    font-size: 22px;
    line-height: 32px;
    letter-spacing: 0.01em;
    text-transform: capitalize;
    color: #000000;
}

.size {
    font-size: 18px;
    line-height: 24px;
}

.frame28__text {
    font-family: 'Gotham Narrow';
    font-style: normal;
    font-weight: 325;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.01em;
    color: #000000;
}

.frame28__button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 24px;
    width: 323px;
    height: 40px;
    background: #292C2E;
}

.frame28__button__text {
    font-family: 'Gotham Narrow';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.01em;
    text-transform: capitalize;
    color: #FFFFFF;
}

.frame80 {
    height: 232px;
    width: 323px;
    margin: 0px auto 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.frame30 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px;
    gap: 24px;
    width: 265px;
    height: 88px;
}

.frame30__text {
    font-family: 'Mont';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.24px;
    color: #25282A;
}

.frame30__button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 24px;
    width: 193px;
    height: 40px;
    background: #292C2E;
}

.frame30__button__text {
    font-family: 'Gotham Narrow';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.01em;
    text-transform: capitalize;
    color: #FFFFFF;
}

.email {
    height: 368px;
    /* width: 375px; */
    margin: 0 auto;
}

.email__frame66 {
    width: 323px;
    height: 288px;
}

.email__bg {
    height: 368px;
    background: #4C4F53;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.frame61 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 8px;
    height: 224px;
}

.frame61__frame60 {
    width: 323px;
    height: 116px;
}

.frame61__frame60__text1 {
    font-family: 'Mont';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.24px;
    color: #FFFFFF;
    text-align: center;
}

.frame61__frame60__text2 {
    font-family: 'Gotham Narrow';
    font-style: normal;
    font-weight: 325;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #FFFFFF;
}

.frame61__frame19 {
    width: 323px;
    height: 100px;
}

.frame61__frame19__frame62__title {
    font-family: 'Mont';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.01em;
    text-transform: capitalize;
    color: #FFFFFF;
}

.frame61__frame19__frame62__input {
    height: 42px;
    border: 1px solid #D9D9D9;
    background: #FFFFFF;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.input__placeholder {
    font-family: 'Gotham Narrow';
    font-style: normal;
    font-weight: 325;
    font-size: 14px;
    line-height: 18px;
    text-align: left;
    color: #77787A;
}

.frame61__frame19__checkbox {
    display: flex;
    gap: 8px;
    width: 323px;
    height: 24px;
    margin: 8px auto 24px;
}


.frame61__frame19__checkbox__text {
    height: 32px;
    font-family: 'Gotham Narrow';
    font-style: normal;
    font-weight: 325;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
}

.frame61__frame19__checkbox__check {
    width: 20px;
    height: 20px;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;

}

.terms {
    text-decoration: underline;
}


.slider {
    margin: 48px auto 24px;
    height: 504px;

}

.slider__title {
    width: 209px;
    font-family: 'Mont';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    margin: 24px auto 16px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.5px;
    text-transform: capitalize;

}

.option1__slider {
    display: flex;
    flex-direction: column;
    height: 416px;
    width: 239px;
    margin: 0 auto;
}

.option1__slider__bg {
    height: 326px;
    width: 239px;
    background: #F2F2F2;
    margin: 0 auto;
}

.option1__slider__img {
    height: 257.10943603515625px;
    width: 188.49432373046875px;
    background-image: url("/src/assets/svg/imgs/product-image-slider.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin: 0px auto 0;
}

.option1__frame36__slider {
    height: 326px;
    isolation: isolate;
}


.option1__content__slider {

    gap: 4px;
    width: 239px;
    /* height: 74px; */
}


.email__frame66__button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 24px;
    width: 193px;
    height: 40px;
    background: #F1F1F1;
    margin: 0 auto;
}

footer {
    background-image: url("/src/assets/svg/mobile/footer-R.svg");
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-height: 100%;
    max-width: 100%
}


@media screen and (min-width:768px) {

    .img {
        height: 296px;
    }

    .text {
        width: 721px;
        font-size: 40px;
        line-height: 56px;
    }

    .text1 {
        margin: 48px 150px 32px;
        font-size: 24px;
        line-height: 40px;
    }

    .conteiner__options {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 0px;
        gap: 12px;
        margin: 0 26px;
    }

    .option1 {
        width: 385px;
        height: 514px;
        margin: 0 auto;

    }

    .option1__frame36__img1 {}

    .frame41 {
        height: 360px;
        width: 830px;
        padding: 24px;
        flex-direction: row;
        max-width: 100%;
        gap: 12px;
    }

    .frame41__img {
        height: 312px;
        width: 385px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .frame41__img {
        gap: 16px
    }

    .frame41__frame40 {
        width: 385px;
        margin: 60px 0;
        /* margin-right: 28px; */

    }

    .frame41__frame40__text1 {
        font-size: 22px;
        line-height: 32px;
        text-transform: capitalize;
    
    }
}