* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --color1: #000000;
    --color2: #127EB1;
    --color3: #292C2E;
    --disable: #555555;
    --background: #F2F2F2;
    --color-line: #EAE5DF;
}

header {
    background-image: url("/src/assets/svg/Results/mobile/footer-header/header-mobile.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 75px;
    width: 100%;

}

.conteiner {
    align-items: center;
    background-image: url("/src/assets/svg/Results/mobile/products/fondo.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 160px;
    max-width: 100%;
    width: 100%;

}

.bar {
    align-items: flex-start;
    display: flex;
    gap: 17px;
    isolation: isolate;
    margin: 16px auto;
    width: 335px;
}

.bar__line {
    border: 1px solid var(--color-line);
    margin-top: 12px;
    position: absolute;
    transform: matrix(-1, 0, 0, 1, 0, 0);

    width: 335px;
}


.bar__steps {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 0px 4px;
    width: 33.29px;
    z-index: 1;
}

.bar__steps__frame {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 10px;
    height: 24px;
    justify-content: center;
    padding: 0px;
    width: 24px;
}

.step1 {
    align-items: center;
    background: var(--color2);  
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    height: 16px;
    justify-content: center;
    width: 16px;

}

.bar__steps__number {
    align-items: center;
    color: #FFF;
    /* width: 24px; */
    display: flex;
    font-family: 'Mont';
    font-size: 11px;
    font-style: normal;
    font-weight: 800;
    justify-content: center;
    letter-spacing: 0.5px;
    line-height: 16px;
    text-align: center;
}

.state {
    display: flex;
    justify-content: center;
}

.names__bar {
    display: none;
    text-transform: uppercase;
    width: 94px;
}

.step1__vector {
    background-image: url("/src/assets/svg/Results/mobile/products/Vector\ 1.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 6px;
    width: 8px;

}

.text {
    color: #FFFFFF;
    font-family: 'Mont';
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    letter-spacing: 0.5px;
    line-height: 32px;
    text-align: center;
    text-transform: capitalize;
    width: 323px;

}


.text1 {
    align-items: center;
    color: var(--color1);
    display: flex;
    font-family: 'Mont';
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    justify-content: center;
    letter-spacing: 0.5px;
    line-height: 24px;
    margin: 16px auto 24px;
    text-align: center;
    width: 324px;
}

.card__products {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin: 0 26px;
}


.option1__frame36__img__product {
    background-image: url("/src/assets/svg/Results/tablet/slider-product-1.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 282.35px;
    margin: 0 auto;
    width: 254.74px;
}

.option1__frame36__img2 {
    background-image: url("/src/assets/svg/Results/tablet/slider-product-1.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 282.35px;
    margin: 0 auto;
    width: 254.74px;
}

.option1__frame36__match {
    display: flex;
    gap: 56px;
    margin: 16px auto 0;
    width: 100%;
    padding: 0 16px;
    justify-content: space-between;

}

.match__great {
    color: var(--color1);
    font-family: 'Mont';
    font-size: 16px;
    font-style: normal;
    font-weight: 900;
    letter-spacing: 0.01em;
    line-height: 20px;
    text-transform: capitalize;
    width: 130px;
}

.product1 {
    width: 124px;
}

.frame37 {
    align-items: center;
    display: flex;
    gap: 8px;
    padding: 0px;
}

.frame37__match {
    color: var(--color1);
    font-family: 'Gotham Narrow';
    font-size: 16px;
    font-style: normal;
    font-weight: 325;
    letter-spacing: 0.01em;
    line-height: 22px;
    width: 85px;

}

.frame37__button {
    height: 12px;
}

.frame37__button__group {
    align-items: center;
    display: flex;
    height: 6px;
    width: 6px;
}

.frame37__button__elipse {
    align-items: center;
    background: var(--color3);
    border-radius: 50%;
    display: flex;
    height: 12px;
    justify-content: center;
    width: 12px;
}

.line1 {
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    position: absolute;
    transform: rotate(90deg);
    width: 6px;
}

.line2 {
    border: 1px solid #FFFFFF;
    width: 6px;
}

.button {
    align-items: flex-end;
    background: var(--color3);
    border-radius: 0px;
    display: flex;
    flex-direction: row;
    height: 40px;
    justify-content: center;
    margin: 0 auto;
    margin: 271px auto 0px;
    padding: 8px 24px;
    width: 150px;
}

.button__slider{
    margin: 239px auto 0px;
}

.button__text {
    color: #FFFFFF;
    font-family: "Mont";
    font-size: 13px;
    font-weight: 900;
    letter-spacing: 1px;
    line-height: 24px;
    text-align: center;
    text-transform: capitalize;

}


.option1__content__slider {
    display: flex;
    gap: 4px;
    /* width: 323px;
    height: 74px; */
}

.top {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.top__text1 {
    color: var(--color1);
    font-family: 'Mont';
    font-size: 16px;
    font-style: normal;
    font-weight: 900;
    letter-spacing: 0.01em;
    line-height: 20px;
    text-transform: capitalize;
}

.top__text2 {
    color: var(--color1);
    font-family: 'Mont';
    font-size: 16px;
    font-style: normal;
    font-weight: 900;
    height: 20px;
    /* text-align: right; */
    letter-spacing: 0.01em;
    line-height: 20px;
    text-transform: capitalize;
    width: 31px;
}

.text3 {
    color: var(--color1);
    font-family: 'Gotham Narrow';
    font-size: 16px;
    font-style: normal;
    font-weight: 325;
    letter-spacing: 0.01em;
    line-height: 22px;
}

.frame41 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: 480px;
    justify-content: center;
    margin: 24px auto;
    max-width: 323px;
}

.frame41__img {
    background-image: url("/src/assets/svg/Results/mobile/products/information.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 240px;
    width: 100%;
}

.frame41__frame40 {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.frame41__frame40__text1 {
    align-items: center;
    color: var(--color1);
    display: flex;
    font-family: 'Mont';
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    letter-spacing: 0.5px;
    line-height: 24px;
}

.frame41__frame40__text2 {
    color: var(--color1);
    font-family: 'Gotham Narrow';
    font-size: 14px;
    font-style: normal;
    font-weight: 325;
    letter-spacing: 1px;
    line-height: 24px;
}

.hikes {
    font-style: italic;
}

.frame29 {
    align-items: center;
    background: var(--background);
    display: flex;
    flex-direction: column;
    gap: 24px;
    height: 632px;
    justify-content: center;
    padding: 24px 26px;
}

.frame79 {
    display: flex;
    flex-direction: column;
    height: 304px;
    justify-content: center;
    margin: 24px auto;
    width: 323px;
}

.frame79__img {
    background-image: url("/src/assets/svg/Results/mobile/products/logo.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 235px;
    margin: 0 auto;
    width: 273px;
}

.frame28 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.frame38 {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 323px;
    /* height: 88px; */
}

.frame38__text1 {
    color: var(--color1);
    font-family: 'Mont';
    font-size: 22px;
    font-style: normal;
    font-weight: 900;
    letter-spacing: 0.01em;
    line-height: 32px;
    text-transform: capitalize;
}

.size {
    font-size: 18px;
    line-height: 24px;
}

.frame28__text {
    color: var(--color1);
    font-family: 'Gotham Narrow';
    font-size: 16px;
    font-style: normal;
    font-weight: 325;
    letter-spacing: 0.01em;
    line-height: 24px;
}

.frame28__button {
    align-items: center;
    /* height: 40px; */
    background: var(--color3);
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 8px 24px;
    width: 323px;
}

.frame28__button__text {
    color: #FFFFFF;
    font-family: 'Gotham Narrow';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.01em;
    line-height: 24px;
    text-align: center;
    text-transform: capitalize;
}

.frame80 {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 232px;
    justify-content: center;
    margin: 24px auto;
    width: 323px;
}

.frame30 {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: center;
    padding: 0px;
}

.frame30__text {
    align-items: center;
    color: #25282A;
    display: flex;
    font-family: 'Mont';
    font-size: 18px;
    font-style: normal;
    font-weight: 900;
    letter-spacing: 0.24px;
    line-height: 24px;
    text-align: center;
}

.frame30__button {
    align-items: center;
    background: var(--color3);
    display: flex;
    flex-direction: row;
    height: 40px;
    justify-content: center;
    padding: 8px 24px;
    width: 193px;
}

.frame30__button__text {
    color: #FFFFFF;
    font-family: 'Gotham Narrow';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.01em;
    line-height: 24px;
    text-align: center;
    text-transform: capitalize;
}

.email {
    height: 368px;
    /* width: 375px; */
    margin: 0 auto;
}

.email__frame66 {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 288px;
    justify-content: center;
    width: 323px;
    gap:24px
}

.email__bg {
    align-items: center;
    background: #4C4F53;
    display: flex;
    flex-direction: column;
    gap: 24px;
    height: 368px;
    justify-content: center;
}

.frame61 {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: 224px;
    padding: 0px;
}

.frame61__frame60 {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.frame61__frame60__text1 {
    width: 223px;
    color: #FFFFFF;
    font-family: 'Mont';
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    letter-spacing: 0.24px;
    line-height: 24px;
    text-align: center;
}

.frame61__frame60__text2 {
    color: #FFFFFF;
    font-family: 'Gotham Narrow';
    font-size: 14px;
    font-style: normal;
    font-weight: 325;
    letter-spacing: 0.01em;
    line-height: 20px;
    text-align: center;
}

.frame61__frame19 {
    align-items: flex-start;

    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 0px;
}

.frame61__frame19__frame62 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 0px;
    width: 323px;

}

.frame61__frame19__frame62__title {
    color: #FFFFFF;
    font-family: 'Mont';
    font-size: 16px;
    font-style: normal;
    font-weight: 800;
    letter-spacing: 0.01em;
    line-height: 18px;
    text-transform: capitalize;
}

.frame61__frame19__frame62__input {
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    display: flex;
    flex-direction: column;
    height: 42px;
    justify-content: center;
    width: 323px;
}

.input__placeholder {
    color: #77787A;
    font-family: 'Gotham Narrow';
    font-size: 14px;
    font-style: normal;
    font-weight: 325;
    height: 18px;
    line-height: 18px;
    margin: 12px 0 16px 12px;
    text-align: left;
    width: 61px;
}

.frame61__frame19__checkbox {
    display: flex;
    gap: 8px;
    height: 24px;

}


.frame61__frame19__checkbox__text {
    color: #FFFFFF;
    font-family: 'Gotham Narrow';
    font-size: 12px;
    font-style: normal;
    font-weight: 325;
    height: 32px;
    line-height: 16px;
    text-align: center;
}

.frame61__frame19__checkbox__check {
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    height: 20px;
    width: 20px;

}

.terms {
    cursor: pointer;
    text-decoration: underline;
}


.slider {
    margin: 48px auto 0px;
}

.slider__title {
    color: var(--color1);
    font-family: 'Mont';
    font-size: 18px;
    font-style: normal;
    font-weight: 900;
    letter-spacing: 0.5px;
    line-height: 24px;
    margin: 24px auto 16px;

    text-align: center;
    text-transform: capitalize;

}


.option1__slider {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 0 16px;
}

.products {
    margin: 0;
}

.option1__slider__bg {
    align-items: center;
    background: var(--background);
    display: flex;
    flex-direction: column;
    height: 326px;
    margin: 0 auto;
}

.option1__slider__img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 282.35px;
    margin: 30px auto 0px;
    width: 254.74px;
}


.option1__frame36__slider {
    height: 326px;
    isolation: isolate;
}


.option1__content__slider {
    display: flex;
    flex-direction: column;
    gap: 4px;
    /* width: 239px; */
    /* height: 74px; */
}


.email__frame66__button {
    align-items: center;
    background: #F1F1F1;
    display: flex;
    flex-direction: row;
    height: 40px;
    justify-content: center;
    padding: 8px 24px;
    width: 193px;


}

.email__frame66__button__text {
    color: #77787A;
    font-family: 'Gotham Narrow';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.01em;
    line-height: 24px;
    text-align: center;
    text-transform: capitalize;
}

footer {
    background-image: url("/src/assets/svg/Results/mobile/footer-header/footer-mobile.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 390px;
    max-height: 695px;
    max-width: 100%;
    min-height: 395px;
    width: 100%;

}

.option1__slider1 {
    display: flex;
    /* flex-direction: column;
    height: 416px;
    width: 239px;
    gap: 16px;
    margin: 0 auto; */
}

.slider__division {
    display: none;
}

.frame81 {
    align-items: center;
    display: none;
    flex-direction: column;
    height: 514px;
    justify-content: center;
    margin: 0 auto;
    width: 385px;
}

.cards12 {
    display: none;
}

.bg__height {
    height: 358px;
    /* align-items:baseline; */
}

.img__position {
    position: absolute;
}

.desk {
    display: none;
}

.product1 {
    background-image: url("/src/assets/svg/Results/mobile/products/product1.svg");
}

.product2 {
    background-image: url("/src/assets/svg/Results/mobile/products/product2.svg");
}

.slider__img {
    height: 257.11px;
    width: 188.49px;
}

.product__slider1 {
    background-image: url("/src/assets/svg/Results/mobile/products/product1-slider.svg");
}

.product__slider2 {
    background-image: url("/src/assets/svg/Results/mobile/products/produc2-slider.svg");
}

.product__slider3 {
    background-image: url("/src/assets/svg/Results/mobile/products/product3-slider.svg");
}

@media screen and (min-width:768px) {

    header {
        background-image: url("/src/assets/svg/Results/tablet/footer-header/header-tablet.svg");
        height: 104px;
    }

    .conteiner {
        background-image: url("/src/assets/svg/Results/tablet/products/fondo.svg");
        height: 296px;
    }

    .bar {
        margin: 24px auto 68px;
        width: 782px;
    }

    .bar__line {
        width: 782px
    }

    .bar__steps {
        width: 97.14px;

    }

    .state {
        display: none;
    }

    .names__bar {
        display: flex;
    }

    .text {
        font-size: 40px;
        line-height: 56px;
        width: 711px;
    }


    .text1 {
        font-size: 24px;
        line-height: 40px;
        margin: 48px auto 32px;
        width: 500px;
    }



    .conteiner__options {
        align-items: flex-start;
        display: flex;
        flex-direction: row;
        gap: 12px;
        margin: 0 26px;
        padding: 0px;
    }


    .frame41 {
        flex-direction: row;
        gap: 12px;
        height: 360px;
        margin: 48px 0;
        max-width: 100%;
        /* width: 830px; */
        padding: 24px;
    }

    .frame41__img {
        background-image: url("/src/assets/svg/Results/tablet/products/information.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 312px;
        width: 385px;
    }


    .frame41__frame40 {
        margin: 36px 0;
        width: 385px;
        /* margin-right: 28px; */

    }

    .frame41__frame40__text1 {
        font-size: 22px;
        line-height: 32px;
        text-transform: capitalize;

    }

    .frame29 {
        gap: 40px;
        padding: 56px 26px;
    }

    .frame28 {
        align-items: center;
        text-align: center;
    }

    .frame38 {
        width: 649px
    }

    .frame38__text1 {
        font-size: 36px;
        line-height: 48px;
    }

    .size {
        font-size: 24px;
        line-height: 28px;

    }

    .frame28__text {
        font-size: 14px;
        width: 649px;
    }

    .frame28__button {
        width: 193px;
    }


    .slider {
        display: flex;
        flex-direction: column;
        gap: 24px;
        /* height: 1188px; */
        padding: 32px 26px;
    }

    .slider__title {
        font-size: 32px;
        line-height: 40px;
        margin: 0
    }

    .option1__slider {
        flex-grow: 1;
        max-width: 427px;
        width: 385px;
    }

    .option1__slider__bg {
        height: 424px;
        max-width: 427px;
    }

    .option1__slider__img {
        background-image: url("/src/assets/svg/Results/tablet/slider-product-1.svg");
        height: 334.4px;
        margin: 39px auto 0px;
        width: 303.64px;
    }

    .button {
        margin: 329px auto 0px;
    }

    .frame80 {

        display: none;
        height: 514px;
        margin: 0 auto;
        width: 385px;
    }

    .frame30 {
        gap: 201px
    }

    .frame30__text {
        /* height: 60px; */
        font-size: 24px;
        line-height: 30px;
        width: 204px;
    }

    .email {
        margin: 24px auto 0;
        height: 394px;
    }

    .email__bg {
        height: 394px;
    }

    .email__frame66 {
        align-items: center;
        gap: 32px;
        height: 282px;
        justify-content: center;
        width: 684px;

    }


    .frame61 {
        gap: 16px;
        width: 684px;
    }

    .frame61__frame19 {
        gap: 8px;
        width: 426px;
    }

    .frame61__frame60 {
        gap: 16px;
        width: 684px;
    }

    .frame61__frame19__frame62 {
        width: 426px;
    }


    .frame61__frame60__text1 {
        font-size: 24px;
        line-height: 30px;
        width: 684px;
    }

    .frame61__frame19__frame62__input {
        width: 426px;
    }

    .frame61__frame19__checkbox__text {
        line-height: 24px;

    }

    .frame61__frame19__checkbox {
        width: 383px;

    }

    .option1__slider1 {
        display: flex;
        flex-direction: column;
        gap: 16px;
        height: 514px;
        width: 385px;
        /* margin: 0 auto; */
    }

    .option1__frame36__match {
        margin: 18px auto 0;

    }


    footer {
        background-image: url("/src/assets/svg/Results/tablet/footer-header/footer-tablet.svg");
        height: 669px;
    }


    .slider__division {
        display: flex;
        gap: 12px;
        justify-content: center;

    }

    .frame81 {
        display: flex;

    }

    .card__products {
        flex-direction: row;
        gap: 12px;
        justify-content: center;

    }

    .product1 {
        background-image: url("/src/assets/svg/Results/tablet/products/product1.svg");
    }

    .product2 {
        background-image: url("/src/assets/svg/Results/tablet/products/product2.svg");
    }

    /* .option1__slider{
        display: none;
    } */
    .slider1 {
        display: none;
    }

    .cards12 {
        display: none;
    }

    .frame81 {
        margin: 0;
    }

    .frame79__img {
        background-image: url("/src/assets/svg/Results/tablet/products/logo.svg");
    }

    .product2__slider {
        background-image: url("/src/assets/svg/Results/tablet/products/product2-slider.svg");
    }

    .product3__slider {
        background-image: url("/src/assets/svg/Results/tablet/products/product3-slider.svg");
    }
}

/* @media screen and (min-width:1000px) {} */

@media screen and (min-width:1000px) {

    header {
        background-image: url("/src/assets/svg/Results/deskop/footer-header/header-desktop.svg");
        height: 105px;
    }

    .conteiner {
        background-image: url("/src/assets/svg/Results/deskop/products/fondo.svg");
        height: 311px;
    }

    .bar {
        margin: 31px auto 72px;
        width: 812px;
    }

    .bar__steps {
        gap: 8px;

        width: 104px;
    }

    .bar__line {
        width: 812px
    }

    .text {
        font-size: 56px;
        width: 914px;
    }

    .text1 {
        font-size: 24px;
        line-height: 40px;
        margin: 48px auto 32px;
    }

    .conteiner__options {
        align-items: flex-start;
        display: flex;
        flex-direction: row;
        gap: 12px;
        margin: 0 26px;
        padding: 0px;
    }

    .option1 {
        height: 514px;
        margin: 0 auto;
        width: 385px;

    }

    .frame41 {
        gap: 40px;

        height: 368px;
        margin: 56px auto;
        max-width: 1126px;
    }

    .frame41__img {
        background-image: url("/src/assets/svg/Results/deskop/products/information.svg");
        height: 368px;
        width: 543px;
    }



    .frame41__frame40 {
        gap: 16px;
        margin: 92px 0;
        width: 543px;
        /* margin-right: 28px; */

    }

    .frame41__frame40__text1 {
        font-size: 22px;
        line-height: 32px;
        text-transform: capitalize;

    }

    .frame29 {
        flex-direction: row;
        gap: 80px;
        padding: 104px 182px;
    }

    .frame28 {
        align-items: flex-start;
        gap: 40px;
        text-align: left;
    }

    /* .frame38 {
        width: 649px
    } */

    .frame38__text1 {
        font-size: 56px;
        line-height: 56px;
    }

    .size {
        font-size: 24px;
        line-height: 28px;

    }

    .frame28__text {
        font-size: 16px;
        line-height: 36px;

    }

    .slider {
        gap: 40px;
        margin: 74px 40px 0;
        padding: 0;
    }


    .option1__slider {
        width: 385px;
        /* height: 514px; */
    }



    .option1__slider__bg {
        height: 424px;
    }

    .option1__slider__img {
        height: 334.4px;
        margin: 39px auto 0px;
        width: 303.64px;
    }

    .button {
        margin: 329px auto 0px;
        width: 193px;
    }


    .slider__division {
        display: none;
    }

    .frame80 {
        display: flex;
        height: 94px;
        margin: 130px auto 64px;
        width: 351px;
    }

    .frame30 {
        gap: 24px
    }

    .frame30__text {
        font-size: 24px;
        /* width: 204px; */
        /* height: 60px; */
        justify-content: center;
        line-height: 30px;
        margin: 0 auto;
        width: 351px;
    }

    .frame61 {
        height: 210px
    }

    .frame61__frame60__text2 {
        line-height: 24px;
    }

    .frame81 {
        display: none;

    }

    .top {
        flex-direction: row;
    }

    .top__text1 {
        width: 390px;
    }

    .top__text2 {
        text-align: right;
    }

    .frame61__frame19__checkbox {
        margin: 0;
    }

    .cards12 {
        display: flex;
    }

    .desk {
        display: flex;
        margin: 0;
    }

    .slider__card__weight {
        width: 200px;

    }

    .match__great{
        width: 246px; ;
    }

    .product1 {
        background-image: url("/src/assets/svg/Results/mobile/products/product1.svg");
    }

    .product2 {
        background-image: url("/src/assets/svg/Results/deskop/products/product2.svg");
    }

    .frame79__img {
        background-image: url("/src/assets/svg/Results/deskop/products/logo.svg");
    }

    .product1__slider_des {
        background-image: url("/src/assets/svg/Results/deskop/products/product1-slider.svg");
    }

    .product2__slider_des {
        background-image: url("/src/assets/svg/Results/deskop/products/product2-slider.svg");
    }

    .product3__slider_desk {
        background-image: url("/src/assets/svg/Results/deskop/products/product3-slider.svg");
    }

    footer {
        background-image: url("/src/assets/svg/Results/deskop/footer-header/footer-desktop.svg");
        height: 617px;
    }



}